.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  .Intro {
    padding: 1rem;
    /* border: solid white 2px; */
    border-radius: 10px;
    background-color: #424242;
  }

  .Info {
    padding: 1rem;
    /* border: solid white 2px; */
    border-radius: 10px;
    background-color: #424242;
  }

  .home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary);
  }
  
  .home p {
    font-size: 1.2rem;
    /* max-width: 600px; */
    line-height: 1.5;
  }
  
  .home .calendar-container {
    margin-top: 2rem;
    max-width: 800px;
  }
  