.tasks {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    align-items: center;
    text-align: center;
    border: solid white 2px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 80dvh;
}

.taskButtons {
    display: flex;
    /* align-self: center; */
    gap: 1rem;
    border: solid white 2px;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    overflow-x: auto;
}

.taskAction {
    margin-top: 2rem;
    border: solid white 2px; /* border is here for testing purposes */
    border-radius: 10px;
    padding: 1rem;
    
}