.tasks {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    /* border: solid white 2px;
    border-radius: 10px;*/
    margin: 1rem; 
    min-height: 80dvh;
    width: 100%;
}

.taskButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
}

.taskButtons .btn {
    flex: 1;
    min-width: fit-content;
}

.taskAction {
    border: solid white 2px;
    /* border is here for testing purposes */
    border-radius: 10px;
    padding: 1rem 0;
    width: 90%;
}

.instructions ol {
    padding-left: 2rem;
    margin-top: 2rem;
    text-align: left;
}