.footer {
    position: fixed;
    bottom: 0;
    border-top: solid white 2px;
    width: 100%;
    text-align: center;
    background-color: #343434;
    padding: 1rem 0;
}

.footer li {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-self: center;
    margin-top: 1rem;
}

.footer-link {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(
      90deg, 
      red, orange, yellow, green, cyan, blue, violet
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease-in-out;
}

.footer-link:hover {
    background-position: 100%;
}