.join-household {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.join-household form {
    display: flex;
    flex-direction: column;
    
}

.join-household form input {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}